html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Indie Flower", cursive;
  background: #0f0d16;
}
.titulo {
  text-align: center;

  font-size: 50px;
  font-weight: bold;

  font-size: 72px;
  background: linear-gradient(
    25deg,
    rgba(63, 94, 251, 1) 24%,
    rgba(252, 70, 107, 1) 71%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
input {
  outline: none;
}
.bordaCampoBusca {
  position: absolute;
  width: calc(34% + 8px);
  margin-left: calc(30% - 2px);
  margin-top: -1px;
  border-radius: 50px;
  border: none;
  height: 54px;
  text-align: center;
  background: #fb3f96;
  background: linear-gradient(25deg, #fb3f96 24%, #3f5efb 71%);
}
.campoBusca {
  position: absolute;
  width: 34%;
  margin-left: 30%;
  border-radius: 50px;
  border: none;
  height: 50px;
  text-align: center;
  background: #010017;
  color: #f5f5f5;
  font-size: 18px;
}
.botaoBusca {
  position: absolute;
  width: 54px;
  height: 54px;
  right: 0;
  margin-right: calc(30% - 2px);
  border-radius: 50px;
  border: none;
  background-color: transparent;
  background-image: url(../Images/searchIcon.svg);
  background-image: url(/static/media/searchIcon.dd4338de.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.botaoBuscaBG {
  position: absolute;
  width: 54px;
  height: 54px;
  right: 0;
  margin-right: calc(30% - 2px);
  border-radius: 50px;
  border: none;
  text-align: center;
  background: #010017;
  background: #fb3f96;
  background: linear-gradient(25deg, #fb3f96 24%, #3f5efb 71%);
}
/* references */
/* https://css-tricks.com/gradient-borders-in-css/ */
